.message{
	width: 60%;
	margin-left: 20%;
	text-align: center;
	padding: .75rem 1.25rem;
	border-radius: .25rem;
}
.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.error{
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.container{
	width: 100%;
	padding: 2em;
	display: flex;
	justify-content: space-around;
}
.content{
	background-color: #f2f2f2;
	padding: 2em;
	border-radius: 1em;
}
hr{
	margin: .75em 0 .75em 0;
}
.content p{
	font-size: 1.2em;
	margin-top: .25em;
}
@media(min-width: 700px){
	.content{
		width: 50%;

	}
}