<div  class="message" [ngClass]="{'success': success, 'error': success === false}" *ngIf="message !== '' ">{{ message }}</div>
<div class="wrapper">
	<!-- <div class="container"> -->
		<a (click)="changeSubject('Maths')" class="subject">
			<div class="">
				<img src="../../assets/calculator.png"/>
			</div>	
			<div class="text">Maths</div>
		</a>
		<a class="subject" (click)="changeSubject('Irish')">
			<div class="">
				<img class="" src="../../assets/shamrock.png">
			</div>
			<div class="text">Irish</div>
		</a>
		<a class="subject" (click)="changeSubject('English')">
			<div class="">
				<i class="fa fa-book fa-2x" aria-hidden="true"></i>
			</div>	
			English
		</a>
<!-- 	</div>
	<div class="container"> -->
		<a class="subject" (click) = "changeSubject('Science')">
			<div class="">
				<i class="fa fa-flask fa-2x" aria-hidden="true"></i>
			</div>	
			Science
		</a>
		<a class="subject" (click) = "changeSubject('Geography')">
			<div class="">
				<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
			</div>	

			Geography
		</a>
		<a class="subject" (click) = "changeSubject('History')">
			<div class="">
				<i class="fa fa-hourglass-end fa-2x" aria-hidden="true"></i>
			</div>	
			History
		</a>
	<!-- </div>
	<div class="container"> -->
		<a class="subject" (click) = "changeSubject('French')">
			<div class="">
				<img class="img" src="http://www.freeiconspng.com/uploads/baguette-icon-12.png">
			</div>
			<div class="text">French</div>
		</a>
		<a class="subject" (click) = "changeSubject('Spanish')">
			<div class="">
				<img class="" src="../../assets/bull.png">
			</div>
			<div class="text">Spanish</div>
		</a>
		<a class="subject" (click) = "changeSubject('German')">
			<div class="">
				<img class="img" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Cultures-German-Hat-icon.png">
			</div>
			<div class="text">German</div>
		</a>
	<!-- </div>
	<div class="container"> -->
		<a class="subject" (click) = "changeSubject('Business')">
			<div class="">
				<img src="../../assets/briefcase.png"/>
			</div>	
			<div class="text">Business</div>
		</a>

		<a class="subject" (click) = "changeSubject('Religion')">
			<div class="">
				<img class="" src="../assets/praying.png">
			</div>
			<div class="text">Religion</div>
		</a>
		<a class="subject" (click) = "changeSubject('CSPE')">
			<div class="">
				<img src="../../assets/scales.png"/>
			</div>
			<div class="text">CSPE</div>
		</a>
	<!-- </div> -->
</div>