.message{
	width: 60%;
	margin-left: 20%;
	text-align: center;
	padding: .75rem 1.25rem;
	border-radius: .25rem;
}
.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.error{
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
a{
	display: block;
}
.wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-bottom: 35px;
}
/*.container{
	display: flex;
	min-width: 60%;
	flex-flow: row wrap;
	justify-content: space-around;
}*/
.subject{
	width: 60%;
	height: 150px;
	text-align: center;
	font-size: 2em;
	cursor: pointer;
	background-color: #F2F2F2;
	color: #000;
	margin-top: .75em;
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.subject:nth-child(2), .subject:nth-child(6), .subject:nth-child(8), .subject:nth-child(10), .subject:nth-child(4), .subject:last-child{
	color: white;
	background-color: #202020;
}
.subject .text{
	height: 40px;
}
img{
	height: 64px;
	width: 64px;
}
@media(min-width: 400px){
	/*.container{
		flex-direction: column;
		align-items: center;
	}*/
	.wrapper{
		width: 80%;
		margin-left: 10%;
	}
	.subject{
		width: 40%;
	}
}
@media(min-width: 800px){
	/*.container{
		display: flex;
		min-width: 60%;
		flex-flow: row wrap;
		justify-content: space-around;
	}
*/	/*.subject{
		margin: .5em 0;
		padding: .4em;
		min-width: 16%;
		height: 20%;
	}*/
	.wrapper{
		width: 80%;
		margin-left: 10%;
	}
	.subject{
		width: 30%;
	}
}