.container{
	
}
h2{
	padding-left: 2em;
	padding-top: .5em;
	color: black;
	margin-bottom: .75em;
	text-decoration: underline;
	font-size: 2em;
}
h3{
	text-align: center;
	padding: .5em .5em;
}
.details{
	background-color: #f2f2f2;
	border-radius: 1em;
	padding: 1em;
	text-align: center;
	margin-right: 0;
}
.banner{
	display: flex;
	justify-content: space-around;
}
.banner button{
	padding: .4em.8em;
	border: none;
	outline: none;
	height: 3em;
	line-height: 1.25em;
	font-size: 1.25em;
	background-color: #545454;
	color: white;
	cursor: pointer;
	align-self: center;
}
@media(min-width: 400px){
	.container{
		display: flex;
		padding: 2em 2%;
		justify-content: space-around;
	}
	.categories{
		width: 20%;
		border: 1px solid black;
		background-color: #f2f2f2;
		font-size: 1.25em;
		box-shadow: 5px 5px 15px #000;
		align-self: flex-start;

	}
	.categories ul li{
		padding: .5em;
		border-bottom: 1px solid black;
	}
	.categories ul li:first-child{
		border-top: 1px solid black;
	}
	.categories ul li:nth-last-child(1){
		margin-bottom: 0;
		border-bottom: 0;
	}
	.right{
		width: 75%;
	}
	img{
		width: 100%;
	}
	.right ul li{
		background-color: white;
		padding: 1em;
		border-radius: 1em;
		box-shadow: 10px 10px 14px #000;
	}
	.right ul li:not(:first-child){
		margin-top: 3em;
	}
}