<div *ngIf="data">
	<div class="container">
		<form class="flexbox">
				<div class="subjects">
					<ul (clickOutside)="close()">
						<li (click)="toggleSubjects($event)" class="selected">
							{{ format(selectedSubject) }} 
						</li>
						<li (click)="toggleSubjects($event)" class="" *ngFor="let subject of data.subjects | except: selectedSubject">
							{{ subject }}
						</li>
					</ul>
			    </div>
				<div class="toggle">
					<button [class.enabled]="isHigherLevel" class="hl" (click)="toggleLevel($event)">HL</button>
					<button [class.enabled]="!isHigherLevel" class="ol" (click)="toggleLevel($event)">OL</button>
				</div>
				<div class="feature">
					<button [class.enabled]="feature.toLowerCase() == 'papers'" (click)="changeFeature($event)">Papers</button>
					<button [class.enabled]="feature.toLowerCase() == 'analysis'" (click)="changeFeature($event)">Analysis</button>
				</div>
		</form>
	</div>
</div>

